body {
    background-color: pink;
    font-family: Sofia, sans-serif;
}

.belo {
    background-color: white;
    padding: 3%;
    font-family: Sofia, sans-serif;
}

.pink {
    background-color: hotpink;
    color: white;
}